html, body {
    margin: 0;
    padding: 0;
    font-family:Lato,Helvetica,Arial,sans-serif
}

#headerBar {
    height: 10px;
    background: #006341
}

img.aruba {
    height: 10%;
    width: 10%;
}
