# Client ID that is created within Aruba Central
client_id: wwww
# Client Secret that is created within Aruba Central
client_secret: xxxxxx
# Name of the file where to token will be stored.
tokenfile:  token.json
# Which Aruba Central environment to query.
# prod = Aruba Central Production Environment 
# internal = Employee Internal Environment
envapi:  prod

